[user]
	name = Rohan Verma
	email = rohanverma2004@gmail.com
[core]
	editor = nvim 
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	default = simple
[credential]
    helper = cache --timeout=21600
[mergetool]
    tool = meld 
[bz]
	browser = google-chrome
